<!--<iframe-->
<!--  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14606.035185601828!2d90.39435333553796!3d23.76488970392805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c7802ead4bab%3A0x6dfc20845f89d9e7!2sRoad-8%2C%20Dhaka%201212!5e0!3m2!1sen!2sbd!4v1683538899347!5m2!1sen!2sbd"-->
<!--  width="100%" height="363" style="border:0;" allowfullscreen="" loading="lazy"-->
<!--  referrerpolicy="no-referrer-when-downgrade"></iframe>-->


<!--about-us section-->
<section id="about" class="about">
  <div class="conatiner-fluid">
    <div class="section-title">
      <h2 class="text-center mt-5 font-weight-bolder text-secondary" >About US</h2>

      <div class="d-flex justify-content-center">
        <hr style="width: 100px;height: 1px;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: dodgerblue;width: 34px;height: 4px;margin-top: -19px"></div>
      </div>

      <p class=" container mx-md-4">The government and NGOs are planning to develop an urban Primary Health Care (PHC)
        project
        at the backdrop of gradual phasing out of existing NGOs-based urban clinics. UNICEF
        came forward and engaged a group of consultants involving Public Health,
        Health Economics and ICT experts to design the “Model Urban PHC Clinics
        (Aalo Clinics)” which was later endorsed by the government. .
      </p>
    </div>
    <div class="text-center justify-content-center">
      <div class="container-fluid video-box justify-content-center
     align-items-stretch position-relative" style="background: none">
        <iframe class="video1" width="400" height="300"
                src="https://www.youtube.com/embed/1A7B3fF_rkc?si=Q5x1mvITyT3hsdEH" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
        <iframe class="video2" width="400" height="300"
                src="https://www.youtube.com/embed/5q30MlGubmc?si=Z8RbMK0YUvLAHr8X" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
        <iframe class="video3" width="400" height="300"
                src="https://www.youtube.com/embed/xyI32gNUIhk?si=u-yx9awPICq7dawE" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>

      </div>
    </div>
  </div>
</section>
